{% extends 'base.html' %}

{% block title %}
    {{ block.super }} - {{ single_object.article }}
{% endblock %} 

{% block content %}
<h5>Author: {{ single_object.author }}</h5>
<h1>{{ single_object.article }}</h1>

<h5>Likes: {{ single_object.get_likes }}</h5>
<form action="/news/like/{{ single_object.pk }}/" method='post'>
    {% csrf_token %}
        {% if not liked %}
            <input type="submit" value='Лайк'>
        {% else %}
            <input type="submit" value='Инвалид'>
        {% endif %}

</form>
<h5>Commentaries</h5>
{% for c in single_object.commentary.all %}
    <p>
        {{ c.date.time }}
        {{ c.user }}
        {{ c.text }}
    </p>
{% endfor %}
{% include 'news/detail_snippet.html' with single_object=single_object %}

{% if perms.user.is_staff %}
    <a href="/news/edit/{{ single_object.pk }}">едет</a>
    <a href="/news/delete/{{ single_object.pk }}">удалит</a>
    <a href="/news/commentary/{{ single_object.pk }}">камент</a>
{% endif %}

{% endblock %}